mule-deploy-app/src/main/mule/mule-deploy-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="httpListenerConfig" doc:name="HTTP Listener config" doc:id="c75bb609-ab92-4a20-b116-e840f721c390" >
		<http:listener-connection host="localhost" port="8081"/>
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="062d33a4-d775-42d3-8a3d-10bce0060849" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="mule-deploy-app-flow" doc:id="33f4b84f-aac4-499c-b4e6-dc55363a983e" >
		<http:listener doc:name="Listener" doc:id="eb736594-9a5c-4c81-8692-c177890b2cb3" config-ref="httpListenerConfig" path="/test"/>
		<set-payload value="Hello Everyone" doc:name="payload" doc:id="e874ef6f-5a23-4c7f-a52c-10a79d24dba5" />
		<ee:transform doc:name="Transform Message" doc:id="09250519-0855-4074-8510-136c6c3a4ef7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:select doc:name="Copy_of_Select" doc:id="d96b9d59-437c-47af-8462-126bb4748050" config-ref="Database_Config" >
			<db:sql ><![CDATA[select * from american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="6c332340-7e4a-4790-8a25-cf57b9cc3a48" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="mule-deploy-app-second" doc:id="f886bce9-6d1b-42f6-9170-ac2d7ab0acac" >
		<logger level="INFO" doc:name="Logger" doc:id="4af70e46-ffcd-47cb-ab23-ccd813cb336f" message="#[payload]"/>
	</flow>
	<flow name="mule-deploy-appFlow" doc:id="bfe10567-6e20-47d3-ad77-cb0638ebdaff" >
		<http:listener doc:name="Listener" doc:id="5a255194-9a9b-4564-81f8-b47515a053f1" config-ref="httpListenerConfig" path="/check"/>
		<logger level="INFO" doc:name="Logger" doc:id="e156791e-9d18-48b4-8580-ba36191ea790" message="#[payload]"/>
		<db:select doc:name="Select" doc:id="e35e50ff-5e1b-448d-923e-c92e65ae3111" config-ref="Database_Config">
			<db:sql><![CDATA[select * from american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="47965c46-0915-4ce4-88fc-ffea9bfc8dbf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
